<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ContactsLIST</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
<div class="container">
    <h1 class="main-header">Contacts management</h1>
    <table>
        <thead>
        <tr>
            <th class="td">ID</th>
            <th class="td">First_name</th>
            <th class="td">Last_name</th>
            <th class="td">Email</th>
            <th class="td">Phone</th>
            <th>
                <a href="/contact/create">Create</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contacts}" th:class="contact-row">
            <td class="td" th:text="${contact.id}">id</td>
            <td class="td" th:text="${contact.firstName}">title</td>
            <td class="td" th:text="${contact.lastName}">descr</td>
            <td class="td" th:text="${contact.email}">pri</td>
            <td class="td" th:text="${contact.phone}">phobe</td>
            <td>
                <a th:href="@{/contact/edit/{id}(id=${contact.id})}" href="#">Edit</a>
                <a th:href="@{/contact/delete/{id}(id=${contact.id})}" href="#">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

</body>